{% extends 'base.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4"><i class="bi bi-plus-circle"></i> Créer une nouvelle commande</h1>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.user) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.statut) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.montantTotal) }}
                    </div>
                </div>
                {{ form_row(form.adresseLivraison) }}
                {{ form_row(form.commentaire) }}
                {{ form_widget(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>

    <a href="{{ path('app_admin_orders') }}" class="btn btn-link mt-3">← Retour aux commandes</a>
</div>
{% endblock %}